.BigImage{
    margin-top: 20px;
}

.coutain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img{
    width: calc(100% - 20px);
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}