html,body{
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: 80px 5fr auto;
    grid-template-areas: 
    "nav"
    "image"
    "footer"
    ;
    max-width: 100vw;
    overflow-x: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    background-image:linear-gradient(to bottom right,#004b19,#00270d);
}

.right{
    display: flex;
    margin-left: auto;
}

.right a{
    align-items: center;
    margin-right: 25px;
}

.icon{
    margin-left: 25px;
    justify-items: start;
    font-weight: bold;

    font-size: 20px;
}

.nav a{
    display:  flex;
    color: white;
    cursor: pointer;
}

.images{
    grid-area: image;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;
    padding-top: 25px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
    height: auto;
    width: calc(100% - 20px);
    max-width: 300px;
    background-color: #fffbd4;
    box-shadow: #dddddd 0 0 5px 3px;
    border-radius: 15px;
    transition: 0.5s;
    overflow: hidden;

    cursor: pointer;
}

.card:hover{
    box-shadow: #dddddd 0 0 5px 10px;
}

.card-img{
    justify-self: self-start;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.card-img:hover{
    transform: scale(1.05);
}

.photo{
    max-height: 120px;
    width: 100%;
}

.name{
    align-self: flex-start;
    font-size: 20px;
    padding: 0 5px;
    color: #fffbd4;
}

.up{
    font-size: 12px;
    padding: 0 5px;
    color: #fffbd4;
}

.device{
    font-size: 12px;
    padding: 0 5px;
    color: #fffbd4;
}

.date{
    font-size: 12px;
    padding: 0 5px;
    color: #fffbd4;
}

.footer{
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-image: linear-gradient(to bottom right , #004b19,#00270d);

    padding: 50px;
    width: 100%;
    margin-top: 50px;
}

.footer_text{
    display: block;
    color: #fffbd4;
    align-self: center;
}

.intrduce{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer{
    display: flex;
    flex-direction: column;

}

.textBox{
    align-items: center;

    margin-top: 25px;
    border: #004b19 1px solid;
    border-radius: 15px;
    padding: 15px;
}